@media screen and (max-width: 1270px ) {
	.container {
		width: 688px;
	}

	.mob {
		display: block;
	}

	/* header	*/
	.header {
		position: fixed;
		padding: 20px 0;

		-webkit-transition: 0.4s;
		transition: 0.4s;
	}

	.header.fill {
		background-color: #fff;
	}

	.hamburger {
		display: flex;
		flex-direction: column;
		justify-content: space-between;

		padding: 12px 9px;
		width: 40px;
		height: 40px;

		-webkit-border-radius: 50%;
		border-radius: 50%;
		background-color: rgba(65, 209, 100, 1);
	}

	.hamburger div {
		width: 100%;
		height: 2px;
		user-select: none;
		background-color: #fff;
		-webkit-transition: 0.4s;
		transition: 0.4s;
	}

	.hamburger.active div:nth-child(1) {
		-webkit-transform: translate3d(0, 7px, 0) rotate(45deg);
		transform: translate3d(0, 7px, 0) rotate(45deg);
	}

	.hamburger.active div:nth-child(2) {
		opacity: 0;
		-webkit-transform: translate3d(-15px, 0, 0);
		transform: translate3d(-15px, 0, 0);
	}

	.hamburger.active div:nth-child(3) {
		-webkit-transform: translate3d(0, -7px, 0) rotate(-45deg);
		transform: translate3d(0, -7px, 0) rotate(-45deg);
	}


	/* mob menu */

	.mob-menu-block {
		display: block;
		position: fixed;
		top: 0;
		right: 0;
		left: 0;
		bottom: 0;

		background-color: rgba(0, 0, 0, 0.5);

		opacity: 0;
		pointer-events: none;
		z-index: 99;

		-webkit-transition: 0.5s;
		transition: 0.5s;
	}

	.mob-menu-block.active {
		opacity: 1;
		pointer-events: auto;
	}

	.mob-menu {
		position: fixed;
		display: -webkit-flex;
		display: flex;
		-webkit-flex-direction: column;
		flex-direction: column;
		justify-content: space-between;
		top: 0;
		bottom: 0;
		right: 0;
		width: 100%;
		max-width: 370px;
		height: 100vh;
		height: calc(var(--vhr, 1vh) * 100);
		min-height: 100vh;
		min-height: calc(var(--vhr, 1vh) * 100);

		padding: 140px 40px 115px 40px;

		overflow-y: auto;
		background: #fff;
		-webkit-transform: translateX(100vw);
		transform: translateX(100vw);

		-webkit-transition: 0.5s;
		transition: 0.5s;
	}

	.mob-menu-block.active .mob-menu {
		-webkit-transform: translateX(0);
		-ms-transform: translateX(0);
		transform: translateX(0);
	}

	.header__nav {
		margin: 0;
	}

	.header__nav ul {
		display: block;
	}

	.header__nav li {
		margin-right: 0;
		margin-top: 15px;
	}

	.header__nav a,
	.header__tel {
		font-size: 18px;
	}

	.mob-menu-block .header__right {
		display: block;
		margin-top: 50px;
	}

	.mob-menu-block .header__right .button {
		margin-left: 0;
		margin-top: 30px;
	}


	/* main section */

	.main-section__content {
		width: 100%;
		padding: 0;
	}

	.main-section__scroll-btn {
		align-self: flex-end;
	}


	/* services section */
	.services-section__bg-text {
		font-size: 180px;
		left: -80px;
	}

	.services-list {
		justify-content: space-between;
		margin-right: 0;
	}

	.services-list__item {
		max-width: 48%;
		flex-grow: 1;
		margin-right: 0;
	}

	.services-section__keys {
		bottom: -40px;
		right: -154px;
	}

	/* about section */
	.about-section__content {
		flex-direction: column;
		align-items: center;
		justify-content: flex-start;
		width: 100%;
	}

	.about__text {
		margin-top: 40px;
		width: 100%;
	}


	/* reviews section */
	.reviews-section {
		padding-top: 50px;
	}

	.reviews-section__header-box {
		justify-content: space-between;
	}

	.reviews-section__header-btn {
		position: static;
	}

	.slider-container {
		margin-top: 50px;
		width: 100%;
	}

	.swiper-container {
		overflow: visible;
		visibility: visible;
	}

	.slider-btn {
		display: none;
	}

	.slider-pag {
		bottom: -57px;
	}


	/* form section */
	.form-content {
		display: flex;
		flex-direction: column;
	}

	.form {
		width: 100%;
    min-width: auto;
	}

	.form-box form {
		width: 100%;
	}

	.form__btn {
		display: none;
	}

	.map {
		height: 300px;
	}


	/* footer */

	.footer__contact {
		display: block;
	}

	.footer__tel-block {
		margin-right: 0;
		margin-bottom: 15px;
	}


	/* contact page */

	.deal-content {
		display: block;
	}

	.deal-info-block {
		max-width: none;
	}

	.deal-contact {
		margin-top: 45px;
	}

	.conditions-list {
		margin-right: 0;
	}

	.conditions-list li {
		margin-right: 0;
		max-width: 50%;
		padding-right: 30px;
	}


	.pc {
		display: none;
	}
}

@media screen and (max-width: 740px) {
	.container {
		width: 100%;
		padding: 0 15px;
	}

	/* header	*/
	.header {
		padding: 10px 0;
	}


	/* mob menu */

	.mob-menu {
		max-width: none;
		width: 100%;
		padding-bottom: 60px;
	}

	/* main section	*/
	.main-section {
		padding-top: 140px;
		padding-bottom: 50px;
	}

	.main-section__header-text h1 {
		font-size: 36px;
	}

	.main-section__header-text p {
		margin-top: 20px;
		font-size: 14px;
	}


	/* services section	*/
	.services-section {
		padding: 0;
	}

	.services-section .container {
		padding-top: 50px;
		padding-bottom: 10px;
	}

	.services-section__bg-text {
		top: 100px;
		left: 100px;

		font-size: 70px;
	}

	.services-list__item {
		max-width: 100%;
		margin-bottom: 40px;
	}

	.services-item__list p {
		font-size: 20px;
		line-height: 26px;
	}

	.services-item__list li {
		font-size: 14px;
		line-height: 24px;
	}

	.services-section__keys {
		width: 344px;
		height: 216px;
		bottom: 0;
		right: -196px;
	}


	/* about section	*/
	.about-section {
		padding-bottom: 50px;
	}

	.about-section .container {
		padding-top: 50px;
	}

	.about-section .services-section__bg-text {
		right: 0;
		top: 455px;
	}

	.about__img {
		width: 100%;
		max-height: 420px;
	}

	.about__img img {
		width: 100%;
		max-height: 100%;
		overflow: hidden;
	}

	.about__text h2 {
		font-size: 36px;
		line-height: 120%;
	}

	.about__text p {
		margin-top: 15px;
		font-size: 14px;
	}


	/* reviews section	*/
	.reviews-section .services-section__bg-text {
		left: 15px;
		bottom: -75px;
	}

	.reviews-section__header-box {
		display: block;
	}

	.reviews-section__header {
		font-size: 36px;
	}

	.reviews-section__header-btn {
		margin-top: 15px;
	}

	.reviews-header-btn__img {
		height: 35px;
	}

	.reviews-section__header-btn p {
		font-size: 16px;
		line-height: 20px;
	}

	.slider-container {
		margin-top: 40px;
	}

	.review {
		padding: 30px;
	}

	.review__name strong {
		font-size: 18px;
		line-height: 24px;
	}

	.review__name em {
		margin-left: 15px;

		font-size: 14px;
	}

	.review__text {
		margin-top: 15px;
	}

	.review__text p {
		font-size: 14px;
		line-height: 24px;
	}


	/* partner section	*/

	.partner-header {
		font-size: 24px;
	}

	.partner-section .slider-container {
		margin-top: 30px;
	}


	/* form section	*/

	.form {
		padding: 30px;
	}

	.form-header {
		font-size: 24px;
	}

	.form-header br {
		display: none;
	}

	.form-box {
		margin-top: 0;
	}

	.form-box .button {
		margin-top: 40px;
		width: 100%;
	}


	/* modal	*/

	.modal-block {
		padding-left: 15px;
		padding-right: 15px;
	}

	.modal {
		padding: 30px;
	}

	.modal-header-description {
		margin-top: 30px;
	}

	.thanks-modal-btn {
		margin-top: 30px;
		width: 100%;
	}


	/* footer	*/

	.footer .container {
		display: block;
	}

	.footer__contact {
		margin-top: 30px;
	}


	/* contanct page	*/

	.main-inside-section {
		padding-top: 120px;
		padding-bottom: 50px;
	}

	.main-inside-section:before {
		height: 120px;
	}

	.main-inside-section__text h2 {
		font-size: 36px;
	}

	.main-inside-section__text p {
		font-size: 18px;
		margin-top: 30px;
	}

	.deal-section {
		padding: 50px 0;
	}

	.deal-info__header {
		margin-bottom: 30px;
		font-size: 24px;
	}

	.deal-info__text p {
		font-size: 14px;
	}

	.deal-info__circle {
		margin-right: 20px;
	}

	.deal-contact {
		width: 100%;
		padding: 30px;
	}

	.conditions-section {
		padding-top: 50px;
		padding-bottom: 20px;
	}

	.conditions-header {
		font-size: 36px;
		margin-bottom: 30px;
	}

	.conditions-list {
		display: block;
	}

	.conditions-list li {
		width: 100%;
		max-width: none;
		padding-right: 0;
	}

	.conditions-list strong {
		margin-bottom: 10px;
		font-size: 18px;
	}

	.conditions-list em {
		font-size: 14px;
	}
}


