@media screen and (max-width: 1400px) {
  .header .container {
    width: 1200px;
  }
}

@media screen and (max-width: 1250px) {
  .container,
  .header .container {
    width: 688px;
  }

  /* header */

  .header__nav {
    display: none;
  }


  /* mob menu */

  .mob-menu-block {
    display: block;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;

    background-color: rgba(0, 0, 0, 0.5);

    opacity: 0;
    pointer-events: none;
    z-index: 99;

    -webkit-transition: 0.5s;
    transition: 0.5s;
  }

  .mob-menu-block.active {
    opacity: 1;
    pointer-events: auto;
  }

  .mob-menu {
    position: fixed;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    justify-content: space-between;
    top: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    max-width: 370px;
    height: 100vh;
    height: calc(var(--vhr, 1vh) * 100);
    min-height: 100vh;
    min-height: calc(var(--vhr, 1vh) * 100);

    padding: 140px 40px 115px 40px;

    overflow-y: auto;
    background: #fff;
    -webkit-transform: translateX(100vw);
    transform: translateX(100vw);

    -webkit-transition: 0.5s;
    transition: 0.5s;
  }

  .mob-menu-block.active .mob-menu {
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
  }

  .mob-menu__nav li {
    margin-bottom: 24px;
  }

  .mob-menu__nav li:last-child {
    margin-bottom: 0;
  }

  .mob-menu__nav a {
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: -0.1px;
    color: #161C2D;
  }

  .mob-menu__nav a.active {
    color: #3CA9E8;
    pointer-events: none;
  }

  .mob-menu__btn {
    margin-top: 43px;
  }



  /* how it works section */

  .item {
    flex-direction: column;
  }

  .item br {
    display: none;
  }

  .item__one-block,
  .item__scroll-block {
    max-width: none;
  }

  .item__one-block br {
    display: none;
  }

  .item__right-block {
    margin-top: 50px;
  }

  .item-right__box {
    max-width: none;
  }

  /* travels section */

  .travels__btns {
    width: 330px;
  }

  .travels__tabs-block .tabs-box {
    max-width: 330px;
  }

  .item-content__left {
    max-width: 400px;
  }

  .item-content__right {
    max-width: 250px;
  }

  .item-content__list-block {
    display: block;
  }

  .item-content__list {
    margin-bottom: 20px;
  }

  .item-content__list:last-child {
    margin-bottom: 0;
  }

  /* form section */

  .form-section .container {
    flex-direction: column;
  }

  .form-section__block {
    max-width: none;
  }

  .form-section__right-block {
    margin-top: 40px;
  }

  .form-section__info {
    max-width: none;
  }

  .form-section__info br {
    display: none;
  }

  .form-section__info-img {
    margin-top: 2px;
  }
  
  /* find out section */
  
  .find-out-section .container {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }

  .find-out-section__link-blocks {
    flex-direction: column;
    width: 100%;
    max-width: 540px;
  }

  .find-out-section__link {
    margin-right: 0;
    width: 100%;
    max-width: 100%;
  }


  /* footer */

  .footer {
    padding-bottom: 80px;
  }

  .footer__right-block {
    max-width: 375px;
  }

  .footer__nav-block {
    flex-wrap: wrap;
  }

  .footer__nav-block ul {
    width: 100%;
    max-width: 175px;
    margin-bottom: 25px;
  }

  .footer__nav-block ul:nth-child(1) {
    order: 3;
  }

  .footer__nav-block ul:nth-child(2) {
    order: 1;
  }

  .footer__nav-block ul:nth-child(3) {
    order: 2;
  }

  .footer__copyright-block {
    margin-top: 60px;
  }

  .footer__design {
    flex-direction: column;
    align-items: flex-start;
  }


  /* travel packages page */

  .travel-packages .travels-section {
    padding-bottom: 80px;
  }

  .item-content__hidden-list {
    display: none;
    width: 100%;
    position: static;
    opacity: 1;
    pointer-events: auto;
    padding: 0;
    border: none;
    background: none;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    box-shadow: none;

    -webkit-transition: 0s;
    transition: 0s;
  }

  /* sightseeing section */

  .sightseeing-section {
    padding-bottom: 80px;
  }

  .sightseeing-section__header-block {
    display: block;
  }

  .sightseeing-section__header-description {
    margin-top: 15px;
    max-width: none;
  }

  .sightseeing-section__header-description br {
    display: none;
  }

  .sightseeing-block {
    display: block;
  }

  .sightseeing-box {
    display: flex;
    margin-bottom: 30px;
    padding: 0;
    background-color: #fff;
    box-shadow: 0px 6px 20px rgba(14, 31, 53, 0.06);
    height: auto;
    min-height: 450px;
  }

  .sightseeing-box:last-child {
    margin-bottom: 0;
  }

  .sightseeing-box__img {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 50%;
    overflow: hidden;
    left: 0;
    top: 0;
    bottom: 0;
  }

  .sightseeing-box__img picture {
    max-height: 100%;
    height: auto;
    width: auto;
  }

  .sightseeing-box__img img {
    height: auto;
    max-height: 100%;
    width: auto;
    object-fit: cover;
  }

  .sightseeing-box__text {
    margin-left: auto;
    width: 50%;
    padding: 28px 20px;
  }

  .sightseeing-box__text strong,
  .sightseeing-box__text p {
    color: #161c2d;
  }

  .sightseeing-box__text p {
    opacity: 0.7;
  }


  /* your stay in Dubai page */

  .stay-info-section {
    padding-bottom: 18px;
  }

  .stay-info__double-block {
    position: relative;
  }

  .stay-info__img-box.pc {
    display: none;
  }

  .stay-info__img-box {
    margin-top: 24px;

    width: 100%;
    max-width: none;
  }

  .stay-info__item {
    width: 100vw;
    overflow-x: scroll;
    padding-left: 40px;
    padding-bottom: 28px;

    scrollbar-width: none;
  }

  .stay-info__item::-webkit-scrollbar {
    display: none;
  }

  .stay-info__item .item__right-block {
    align-items: stretch;
    justify-content: flex-start;
    margin-top: 0;
  }

  .stay-info__tab-block .items {
    width: 100vw;
    margin-left: -40px;
  }

  .stay-info__tab-block .item__right-block:after {
    content: '';
    display: block;
    top: 0;
    bottom: 0;
    height: 5px;
    min-width: 40px;
  }

  .stay-info__item .item-right__box {
    box-shadow: 0px 6px 20px rgba(14, 31, 53, 0.06);
    border: none;
  }

  .stay-info__bot-block {
    margin-top: 52px;
    flex-direction: column;
  }

  .stay-info__bot-block .item__right-block {
    margin-top: 0;
  }


  /* wellbeing page */

  .wellness-travel-section {
    padding-bottom: 58px;
  }

  .wellness-travel-section .item__left-block {
    max-width: none;
  }

  /* certification section */

  .certification-block {
    display: block;
  }

  .vaccine-box,
  .certification-box {
    width: 100%;
    max-width: 100%;
  }

  .certification-block br {
    display: none;
  }

  .certification-box {
    margin-top: 40px;
  }


  /* for tour operators page */

  .for-operators__content {
    max-width: none;
  }


  /* contact us page */

  .contact-us__content {
    display: block;
  }

  .contact-us__text br {
    display: none;
  }

  .contact-us__text,
  .contact-us__form {
    width: 100%;
    max-width: none;
  }

  .contact-us__form {
    margin-top: 40px;
  }


  /* medical information page */

  .medical-info-section .container {
    width: 688px;
  }

  .medical-info-section br {
    display: none;
  }
}

@media screen and (max-width: 750px) {
  .container,
  .header .container {
    width: 100%;
    padding: 0 15px;
  }

  .pc {
    display: none;
  }

  .mob {
    display: block;
  }

  /* header */

  .header {
    padding: 9px 0;
  }

  .header__logo {
    height: 42px;
  }

  .header__btn {
    display: none;
  }


  /* mob menu */

  .mob-menu {
    max-width: none;
    padding: 106px 15px 114px 15px;
  }

  .mob-menu__nav li {
    text-align: center;
  }


/* main section */

  .main-section {
    align-items: flex-end;
  }

  .main-section .container {
    padding-bottom: 128px;
  }

  .main-section__header {
    font-weight: 500;
    font-size: 32px;
    line-height: 38px;
    letter-spacing: -0.6px;
    mix-blend-mode: normal;
  }

  .main-section__header-description {
    font-size: 18px;
    line-height: 28px;
    letter-spacing: -0.2px;
    opacity: 1;
  }

  .main-section__btn {
    height: 48px;
    width: 100%;

    font-size: 17px;
    line-height: 32px;
    letter-spacing: -0.6px;
  }

  .main-section__scroll-btn {
    bottom: 65px;
  }

  /* how it works section */

  .how-it-works-section {
    padding: 40px 0;
  }

  .how-works__header-box .how-works__header-description {
    margin-bottom: 12px;
  }

  .how-works__header {
    margin-bottom: 0;

    font-weight: 500;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: -0.1px;
    color: #161C2D;
  }

  .how-works__tabs-block .tabs {
    display: none;
  }

  .how-works__tabs-block .item {
    position: static;
    opacity: 1;
    pointer-events: auto;
    margin-bottom: 40px;
  }

  .how-works__tabs-block .item:last-child {
    margin-bottom: 0;
  }

  .tabs-pagination {
    display: none;
  }

  .items {
    margin-top: 26px;
  }

  .item__name-box {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .item__name {
    display: flex;
    align-items: center;
    justify-content: center;

    padding: 6px 12px;
    margin-bottom: 28px;

    background-color: #3CA9E8;
    -webkit-border-radius: 99px;
    border-radius: 99px;

    font-size: 13px;
    line-height: 16px;
    text-align: center;
    letter-spacing: 1.625px;
    text-transform: uppercase;
    color: #FFFFFF;
  }

  .item-left__header {
    font-weight: 500;
    font-size: 18px;
    line-height: 28px;
    color: #161C2D;
    letter-spacing: 0;
  }

  .item-left__list {
    margin-top: 18px;
  }

  .item-left__two-list .item-left__list {
    margin-right: 20px;
  }

  .item-left__list li {
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: #161C2D;
    letter-spacing: 0;
  }

  .item-left__list li:before {
    width: 14px;
    height: 10px;
    margin-top: 4px;
    margin-right: 6px;
    line-height: 20px;
  }

  .item-left__list li em {
    margin-left: 3px;
  }

  .item__right-block {
    margin-top: 26px;
  }

  .item__right-block.one {
    margin-top: 40px;
  }

  .item__scroll-block {
    width: 100vw;
    margin-left: -15px;
    height: auto;
    overflow-x: scroll;
    padding-left: 15px;
    padding-bottom: 28px;

    scrollbar-width: none;
  }

  .item__scroll-block::-webkit-scrollbar {
    display: none;
  }

  .item__right-block.one {
    display: flex;
    align-items: stretch;
    justify-content: flex-start;
    position: relative;
  }

  .item__right-block:after {
    content: '';
    display: block;
    top: 0;
    bottom: 0;
    height: 5px;
    min-width: 15px;
  }

  .item-right__box {
    min-width: 252px;
    padding: 24px 21px 32px 21px;
    box-shadow: 0px 6px 20px rgba(14, 31, 53, 0.06);
    margin-right: 15px;
  }

  .item-right-box__header {
    font-weight: 500;
  }

  .item-right-box__top .item-left__list {
    margin-top: 42px;
  }

  .item-right-box__bot-price em {
    margin-bottom: 3px;

    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.1px;
  }

  .item-left__description {
    margin-top: 0;
  }

  .item-left__text {
    font-size: 16px;
    line-height: 24px;
  }

  .item-two__list li {
    padding: 16px 21px;
    margin-bottom: 15px;
  }

  .item-two__list li:before {
    display: none;
  }

  .item-two__list-header {
    font-weight: 500;
    font-size: 18px;
    line-height: 28px;
  }

  .item-two__list-description {
    margin-top: 8px;

    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.1px;
  }

  .item-three__box {
    padding: 16px 21px;
  }

  .item-three__header {
    font-weight: 500;
    font-size: 18px;
    line-height: 28px;
  }

  .item-three__description {
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.1px;
  }

  /* experience section */

  .experience-section {
    padding: 40px 0;
  }

  .experience-section__img-box {
    left: 15px;
  }

  .experience-section__img-box img {
    margin-right: 15px;
  }

  .experience-section__img-box p {
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.1px;
  }

  .experience-section .container {
    padding-bottom: 128px;
    padding-right: 15px;
    padding-left: 15px;
  }

  .experience-section__text-block br {
    display: none;
  }

  .experience-section__header {
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: -0.1px;
  }

  .experience-section__header-description {
    margin-top: 20px;

    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.1px;
  }


  /* travels section */

  .travels-section {
    padding: 40px 0;
  }

  .travels-section .how-works__header {
    margin-bottom: 40px;
  }

  .tabs-block__tabs-boxes {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
  }

  .travels__btns-block {
    width: 100vw;
    padding: 16px 15px;
    border-top: 1px solid #E7E9ED;
    border-bottom: 1px solid #E7E9ED;
  }

  .travels__btns {
    width: 100%;
    border: 1px solid #E7E9ED;
    -webkit-border-radius: 3px;
    border-radius: 3px;
  }

  .travels__btn-bg {
    -webkit-border-radius: 3px;
    border-radius: 3px;
  }

  .travels__btns .travels__btn:first-child {
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
  }

  .travels__btns .travels__btn:last-child {
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
  }

  .item-content {
    display: block;
  }

  .item-content__header {
    font-size: 24px;
    line-height: 32px;
    letter-spacing: -0.1px;
  }

  p.item-content__header-description {
    margin-top: 8px;

    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: #161C2D;
    padding: 0;
    letter-spacing: 0;
    text-transform: none;

    text-align: left;
    background-color: transparent;
  }

  .travels__tabs-block .tabs-box {
    justify-content: flex-start;
    max-width: none;
  }

  .travels__tabs-block .tabs {
    justify-content: flex-start;
    width: auto;
  }

  .travels__tabs-block .tab {
    margin-right: 40px;

    width: auto;
    flex-grow: 0;
  }

  .travels__tabs-block .tab:last-child {
    margin-right: 0;
  }

  .travels__tabs-block .tab.active {
    color: #3CA9E8;
  }

  .travels__tabs-block .tabs-box {
    margin-top: 26px;
    width: 100vw;
    padding: 0 15px;
  }

  .travels__tabs-block .tabs__bg {
    left: 15px;
  }

  .items.travels {
    margin-top: 40px;
  }

  .item-content__block {
    width: 100%;
    max-width: none;
  }

  .items.travels .item br {
    display: none;
  }

  .item-content__text-block p {
    margin-top: 24px;

    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.1px;
    color: #161C2D;
    opacity: 0.7;
  }

  .item-content__price {
    width: 100vw;
    margin-left: -15px;
    padding: 0 15px;
    padding-bottom: 8px;

    border-bottom: 1px solid #E7E9ED;
  }

  .item-content__price p {
    margin: 0;
  }

  .item-content__accordion {
    margin-top: 24px;
  }

  .item-content__list-block {
    border: none;
    margin-top: 24px;
    padding-top: 0;
  }

  .item-content__list {
    max-width: none;
    margin-bottom: 16px;
  }

  .item-content__list > li {
    margin-bottom: 16px;
  }

  /* form section */

  .form-section__left-block {
    position: relative;
  }

  .form-section {
    padding: 0;
  }

  .form-section .container {
    width: 100%;
    padding: 0;
  }

  .form-section__left-block {
    width: 100%;
    padding: 42px 15px 70px 15px;
  }

  .form-section__text {
    margin-top: 65px;
  }

  .form-section__header {
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: -0.1px;
  }

  .form-section__header-description {
    margin-top: 20px;

    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.1px;
    color: #FFFFFF;
    opacity: 1;
  }

  .form-section__right-block {
    margin-top: -24px;
  }

  .form-section__form {
    padding: 40px 15px;
    border-radius: 24px 24px 0px 0px;
    box-shadow: none;
    border: none;
  }

  .form__two-input {
    display: block;
  }

  .form-input input,
  .form-input textarea,
  .form__dropdown-value {
    padding-left: 15px;
    padding-right: 15px;
  }

  .form__two-input.two-mob {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .form__two-input.two-mob .form-input {
    margin-right: 15px;
  }

  .form__two-input.two-mob .form-input:last-child {
    margin-right: 0;
  }

  .form__two-input.two-mob .form-input.date {
    max-width: 145px;
  }

  .form__two-input .form-input {
    margin-right: 0;
  }

  .form-input textarea {
    min-height: 98px;
  }

  .form-submit-box {
    flex-direction: column-reverse;
    margin-top: 24px;
  }

  .form-submit-box input {
    margin-right: 0;
    width: 100%;
  }

  .form-checkbox {
    width: 100%;
    margin-bottom: 12px;
  }

  .form-checkbox-btn {
    min-width: 16px;
    width: 16px;
    height: 16px;
    margin-right: 16px;
  }

  .form-checkbox-btn svg {
    width: 12px;
    height: 10px;
  }

  .form-checkbox label p {
    font-size: 12px;
    line-height: 20px;
    color: #161C2D;
    opacity: 0.75;
  }

  .form-checkbox label p br {
    display: none;
  }

  .form__dropdown-list {
    padding: 12px 6px;
    padding-top: 0;
  }

  /* find out section */

  .find-out-section {
    padding: 40px 0;
    padding-bottom: 10px;
  }

  .find-out-section br {
    display: none;
  }

  .find-out-section__link {
    margin-right: 0 !important;
    max-width: none;
  }


  /* footer */

  .footer {
    padding-top: 40px;
    padding-bottom: 70px;
  }

  .footer .container {
    display: block;
  }

  .footer__left-block,
  .footer__right-block {
    display: block;
    max-width: none;
  }

  .footer__logo {
    margin-top: 40px;
  }

  .footer__right-block {
    margin-top: 30px;
  }

  .footer__nav-block ul {
    width: 48%;
    flex-grow: 1;
    margin-bottom: 24px;
  }

  .footer__copyright-block {
    width: 100vw;

    margin-left: -15px;
    margin-top: 6px;

    padding-top: 20px;
    padding-left: 15px;
    padding-right: 15px;

    border-top: 1px solid #E7E9ED;
  }

  .footer__design strong {
    margin-right: 0;
    margin-bottom: 8px;
  }

  .footer__design a {
    height: 17px;
  }

  /* modal */

  .modal {
    width: 100%;
    padding: 0 15px;
  }

  .modal-header {
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;
    text-align: center;
    letter-spacing: -0.1px;
    color: #161C2D;
  }

  .modal-close-btn {
    top: 24px;
    right: 20px;
  }

  .modal .form-section__form {
    padding-bottom: 30px;
    -webkit-border-radius: 12px;
    border-radius: 12px;
  }

  .thanks-modal .modal {
    margin-left: 15px;
    margin-right: 15px;
    padding: 40px 25px;
  }

  .thanks-modal-btn {
    width: 100%;
  }

  /* travel packages page */

  .inside-header-section {
    margin-top: 60px;
    height: 268px;
  }

  .inside-header {
    font-weight: 500;
    font-size: 32px;
    line-height: 38px;
    text-align: center;
    letter-spacing: -0.6px;
    mix-blend-mode: normal;
    white-space: normal;
  }

  .travel-packages .pc {
    display: none;
  }

  .travel-packages .travels__btns-block {
    padding-top: 0;
    border-top: none;
  }

  .travel-packages .travels__btns {
    -webkit-border-radius: 3px;
    border-radius: 3px;
  }

  .travel-packages .travels-section {
    padding-bottom: 40px;
  }

  /* small info section */
  
  .small-info {
    font-family: 'Euclid', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.1px;
    color: #FFFFFF;
    text-align: left;
  }


  /* sightseeing section */

  .sightseeing-section {
    padding: 40px 0;
  }

  .sightseeing-section__header {
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: -0.1px;
  }

  .sightseeing-section__header-description {
    margin-top: 24px;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.1px;
  }

  .sightseeing-block {
    margin-top: 22px;
  }

  .sightseeing-box {
    display: block;
    min-height: auto;
  }

  .sightseeing-box__img,
  .sightseeing-box__text {
    position: relative;
    width: 100%;
  }

  .sightseeing-box__img {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 220px;
  }

  .sightseeing-box__img:before,
  .sightseeing-box__img:after {
    display: none;
  }

  .sightseeing-box__img picture {
    width: 100%;
    height: auto;
  }

  .sightseeing-box__img img {
    width: 100%;
    height: auto;
  }

  .sightseeing-box__text {
    padding: 22px 21px;
  }

  .sightseeing-box__text br {
    display: none;
  }

  .sightseeing-box__text strong {
    font-weight: 500;
    font-size: 18px;
    line-height: 28px;
  }

  .sightseeing-box__text p {
    margin-top: 18px;

    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.1px;
  }


  /* your stay in Dubai page */

  .stay-info-section {
    padding-top: 40px;
    padding-bottom: 12px;
  }

  .stay-info__one-box {
    margin-bottom: 28px;
  }

  .stay-info__one-box:first-child .item-left__header {
    text-align: center;
  }

  .stay-info__double-block .stay-info__one-box .item-left__header {
    text-align: left;
  }

  .stay-info__tab-block .items {
    width: 100%;
    margin-left: 0;
  }

  .stay-info__item .item-right__box {
    margin-right: 15px;
  }

  .stay-info__tab-block .item__right-block:after {
    min-width: 15px;
  }

  .stay-info__tab-block .items {
    margin-top: 0;
  }

  .stay-info__item .item__right-block.one {
    margin-top: 28px;
  }

  .stay-info__bot-block {
    margin-top: 0;
  }

  .stay-info__bot-btn-box {
    margin-top: 24px;
  }

  .stay-info__bot-btn {
    height: 48px;
    width: 100%;
  }

  .stay-info-section .item-left__header {
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: -0.1px;
  }

  .after-tab .item-left__text {
    margin-top: 14px;
  }

  .after-tab .item-left__header {
    text-align: left !important;
  }


  /* wellbeing page */

  .wellness-travel-section {
    padding-top: 40px;
    padding-bottom: 12px;
  }

  .wellbeing-page .how-works__header-box .how-works__header-description {
    margin-top: 12px;
  }

  .wellbeing-page .how-works__header-box {
    margin-bottom: 40px;
  }

  .wellbeing-page .stay-info__one-box:first-child .item-left__header {
    text-align: left;
  }


  /* healthcare section */

  .healthcare-section {
    padding-top: 40px;
    padding-bottom: 12px;
  }

  .healthcare-section .item-left__header {
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: -0.1px;
  }

  /* certification section */

  .certification-section {
    padding: 40px 0;
  }

  .vaccine-box__header {
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: -0.1px;
  }

  .vaccine-box__header-description {
    margin-top: 22px;

    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.1px;
    color: #161C2D;
    opacity: 0.7;
  }

  .vaccine-box__info {
    padding: 0 16px;
  }

  .vaccine-box__info p {
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.1px;
  }

  .vaccine-box__info a:before {
    bottom: 3px;
  }

  .certification-box {
    margin-top: 28px;
  }


  /* for tour operators page */

  .for-operators-section {
    padding: 40px 0;
  }

  .for-operators-section br {
    display: none;
  }

  .for-operators__header {
    font-weight: 500;
    font-size: 18px;
    line-height: 28px;
    color: #161C2D;
  }

  .for-operators__header-description {
    margin-top: 26px;

    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.1px;
  }

  .for-operators__email-text {
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.1px;
  }

  .for-operators__email-text a:before {
    bottom: 3px;
  }


  /* contact us page */

  .contact-us__text strong {
    font-weight: 500;
    font-size: 18px;
    line-height: 28px;
    color: #161C2D;
  }

  .contact-us__text p {
    margin-top: 16px;

    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.1px;
  }

  .contact-us__text p a:before {
    bottom: 3px;
  }

  .contact-us__form {
    padding: 0;
  }

  .contact-us__form .modal-header {
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: -0.1px;
    text-align: left;
  }


  /* medical information page */

  .medical-info-section {
    padding: 40px 0;
  }

  .medical-info-section .container {
    width: 100%;
  }

  .medical-info-section .how-works__header {
    font-weight: 500;
    font-size: 18px;
    line-height: 28px;
    color: #161C2D;
    letter-spacing: 0;
  }

  .medical-info-section .how-works__header-box .how-works__header-description {
    margin-top: 24px;
    margin-bottom: 0;
  }

  .g42-section__editor strong,
  .g42-section__editor p {
    font-size: 16px;
    line-height: 24px;
  }

  .g42-section .form-section__info {
    padding: 0;
  }

  .g42-section .form-section__info-img {
    margin-top: 3px;
  }


  /* medical info section */

  .medical-info__editor strong {
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.1px;
  }

  .medical-info__editor > ol {
    margin-top: 26px;
  }

  .medical-info__editor > ol > li {
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.1px;
  }

  .medical-info__box-editor {
    padding: 16px 21px;
  }

  .medical-info__box-editor strong {
    font-size: 18px;
    line-height: 28px;
  }

  .medical-info__box-editor > ol {
    margin-top: 8px;
  }

  .medical-info__description {
    margin-top: 24px;
  }
}