@media screen and (max-width: 1199px) {
  .container {
    width: 688px;
  }

  br {
    display: none;
  }

  .mob {
    display: block;
  }


  /* header */

  .header {
    padding: 20px 0;
  }

  .header__logo {
    margin-left: 0;
  }

  .header__nav-list li {
    margin-right: 20px;
  }

  .header__social-list li {
    margin-right: 10px;
  }


  /* mob menu */

  .mob-menu-block {
    display: none;
  }


  /* main section */

  .main-section__content {
    display: block;
  }

  .main-section__text {
    text-align: center;
  }

  .main-section__text {
    max-width: none;
  }

  .main-section__btn {
    justify-content: center;
  }

  .main-section__right-block {
    flex-direction: column;
    align-items: center;
    margin-top: 60px;
  }

  .main-section__img {
    align-items: flex-end;
    width: 100%;
    height: auto;
  }

  .main-section__img img {
    max-width: 345px;
  }

  .main-img__description {
    position: relative;
    align-items: center;
    justify-content: flex-start;
    text-align: center;
    margin-top: 80px;
  }

  .main-section__arrow {
    margin: 0;
    position: absolute;
    left: 100%;
    top: -85px;
  }

  .main-section__big-circle {
    width: 800px;
    height: 800px;
  }

  @keyframes mainArrowAni {
    0% {
      clip-path: circle(0% at 0% 100%);
    }

    25% {
      clip-path: circle(150% at 0% 100%);
    }
  }

  .main-section__big-circle {
    left: auto;
  }

  .arrow-for-slider {
    display: none;
  }


  /* slider section */

  .slider {
    display: none;
  }

  .small-slider-box {
    display: none;
  }

  .slider-section {
    padding-top: 40px;
    padding-bottom: 0;
    height: 415px;
  }

  .slider-section__right-block {
    padding: 0;
    width: 100%;
    max-width: 100%;
  }

  .slider-section__header {
    width: 100%;
    text-align: center;
  }


  /* video section */

  .video-section {
    position: relative;
    padding-top: 40px;
  }

  .video-section__text {
    width: 100%;
    max-width: none;
  }

  .video-section__header-description {
    margin-top: 460px;
  }

  .video-box {
    position: absolute;
    top: 140px;
    width: 100%;
    max-width: 688px;
    height: 390px;
  }


  /* blockchain section */

  .blockchain-section__content {
    padding: 60px;
  }

  .blockchain-box {
    flex-direction: column-reverse !important;
    margin-bottom: 28px;
  }

  .blockchain-box__text {
    max-width: none;
    margin-top: 28px;
  }

  .blockchain-box__text p {
    margin-top: 20px;
  }

  .blockchain-box__animation {
    max-width: none;
  }


  /* catalog section */

  .catalog-section__header-description {
    margin-bottom: 12px;

    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.1px;
    text-align: center;
    color: #5B5B5B;
  }

  .product {
    max-width: calc(50% - 40px);
  }

  .product-sale {
    width: 100%;
  }

  .catalog__more-btn-box {
    margin-top: 12px;
  }


  /* footer */

  .footer {
    width: 100vw;
    padding-top: 40px;

    border-top: 1px solid #D5DEDC;
  }

  .footer .container {
    padding: 0;
  }

  .footer__top {
    flex-wrap: wrap;
  }

  .footer-top__links {
    width: 100%;
    justify-content: space-between;
  }

  .footer-top__nav,
  .footer-top__contacts {
    width: 100%;
    flex-grow: 1;
  }

  .footer-top__form-box {
    margin-top: 40px;
  }

  .footer__bot {
    width: 100vw;
    padding-top: 32px;
    margin-top: 40px;
    margin-left: calc(-50vw + 344px);
    padding-left: calc(50vw - 344px);
    padding-right: calc(50vw - 344px);

    border-top: 1px solid #D5DEDC;
  }

  .footer-bot__dev-block {
    width: auto;
  }

  .footer__logo-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 40px;
  }

  .footer-logo {
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .footer-logo img,
  .footer-logo svg {
    max-height: 100%;
    width: auto;
  }

  .footer__logo-block .header__social-list li {
    margin-right: 26px;
  }

  .footer__logo-block .header__social-list li:last-child {
    margin-right: 0;
  }





  .pc {
    display: none;
  }

  .header__nav {
    display: block;
  }
}

@media screen and (max-width: 750px) {
  .container {
    width: 100%;
    padding: 0 15px;
  }

  .btn-box {
    display: block;
  }

  /* header */

  .header {
    position: fixed;
    z-index: 100;
    padding: 20px 0;
  }

  .header.fill {
    background-color: #F4F4F4;
  }

  .header__logo {
    height: 32px;
  }

  .header__social-list.hide {
    opacity: 0;
    pointer-events: none;
  }

  .header__social-list li {
    margin-right: 8px;
  }

  .header__hamburger {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 24px;
    width: 32px;
    height: 16px;

    user-select: none;

    -webkit-transition: 0.4s;
    transition: 0.4s;
  }

  .header__hamburger div {
    width: 100%;
    height: 2px;
    background-color: #1D2027;

    user-select: none;

    -webkit-transition: 0.4s;
    transition: 0.4s;
  }

  .header__hamburger.active {
    -webkit-transform: translate3d(3px, 0, 0);
    transform: translate3d(3px, 0, 0);
  }

  .header__hamburger.active .hidden {
    opacity: 0;

    -webkit-transform: translate3d(10px, 0, 0);
    transform: translate3d(10px, 0, 0);
  }

  .header__hamburger.active .top {
    -webkit-transform: rotate(45deg) translate3d(0, 10px, 0);
    transform: rotate(45deg) translate3d(0, 10px, 0);
  }

  .header__hamburger.active .bot {
    -webkit-transform: rotate(-45deg) translate3d(0, -10px, 0);
    transform: rotate(-45deg) translate3d(0, -10px, 0);
  }


  /* mob menu */

  .mob-menu-block {
    display: block;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;

    background-color: #F4F4F4;
    clip-path: circle(0% at 100% 0);

    pointer-events: none;
    z-index: 99;

    -webkit-transition: 0.7s;
    transition: 0.7s;
  }

  .mob-menu {
    position: fixed;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    justify-content: center;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    height: 100vh;
    height: calc(var(--vhr, 1vh) * 100);
    min-height: 100vh;
    min-height: calc(var(--vhr, 1vh) * 100);
    padding: 100px 15px 40px 15px;

    overflow-y: auto;
  }

  .mob-menu-block.active {
    opacity: 1;
    pointer-events: auto;
    clip-path: circle(150% at 100% 0);
  }

  .header__nav {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .header__nav-list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
  }

  .header__nav-list li {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin: 0;
    margin-bottom: 20px;
  }

  .header__nav-list li a {
    font-weight: bold;
    font-size: 24px;
    line-height: 32px;
    color: #1D2027;
  }


  /* main section */

  .main-section {
    padding-top: 112px;
    padding-bottom: 0;
  }

  .main__header {
    font-size: 32px;
    line-height: 38px;
    letter-spacing: -0.4px;
    color: #1D2027;
  }

  .main__header br {
    display: block;
  }

  .main-section__header-description {
    margin-top: 20px;

    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.1px;
  }

  .main-section__btn {
    margin-top: 28px;
  }

  .main-section__right-block {
    margin-top: 40px;
  }

  .main-section__img img {
    max-width: 250px;
  }

  .main-section__shadow {
    max-width: 340px;
    height: 60px;
    bottom: -30px;

    background: radial-gradient(51.02% 51.02% at 50.13% 48.98%, #711504 0%, rgba(255, 255, 255, 0) 100%);
    mix-blend-mode: multiply;
  }

  .main-img__description {
    margin-top: 50px;
  }

  .main-section__name p,
  .main-section__name strong {
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.03em;
  }
  .main-section__arrow {
    top: -87px;
    left: calc(100% + 5px);
  }

  .main-section__big-circle {
    width: 593px;
    height: 593px;
  }


  /* slider section */

  .slider-section {
    padding-top: 40px;
    padding-bottom: 0;
    height: 403px;
  }

  .slider-section__header {
    font-size: 32px;
    line-height: 38px;
    letter-spacing: -0.4px;
  }


  /* video section */

  .video-section__content {
    padding-bottom: 40px;
  }

  .video-section__header {
    font-size: 32px;
    line-height: 38px;
    letter-spacing: -0.4px;
  }

  .video-section__header-description {
    margin-top: 246px;

    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.1px;
  }

  .video-section__btn {
    margin-top: 20px;
  }

  .video-box {
    width: auto;
    right: 15px;
    left: 15px;
    top: 100px;
    height: 198px;
    max-width: none;
  }

  .video-box,
  .video-box:before {
    border-radius: 12px;
  }

  .video-box__name-box {
    top: 12px;
    left: 16px;
  }

  .video-box__name-img-box {
    display: none;
  }

  .video-box__name {
    margin: 0;
  }

  .video-box__name strong,
  .video-box__name p {
    margin: 0;
    font-size: 14px;
    line-height: 20px;
  }

  .video-box__min {
    top: 12px;
    right: 16px;
  }

  .video-box__play {
    width: 60px;
    height: 60px;
  }

  .video-box__icon {
    width: 20px;
    height: 30px;
  }


  /* blockchain section */

  .blockchain-section__content {
    padding: 40px 16px;
    box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.0965523);
    border-radius: 12px;
  }

  .blockchain-section__header-box {
    margin-bottom: 28px;
  }

  .blockchain-section__header {
    font-size: 32px;
    line-height: 38px;
    letter-spacing: -0.4px;
  }

  .blockchain-section__header-description {
    margin-top: 20px;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.1px;
  }

  .blockchain-box__text h3 {
    font-size: 24px;
    line-height: 32px;
    color: #1D2027;
  }

  .blockchain-box__text p {
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.1px;
  }

  .blockchain-box__btn {
    margin-top: 20px;
  }


  /* catalog section */

  .catalog-section {
    padding-top: 40px;
  }

  .catalog-section__header {
    margin-bottom: 40px;

    font-size: 32px;
    line-height: 38px;
    letter-spacing: -0.4px;
  }

  .catalog {
    margin-right: 0;
  }

  .product {
    max-width: none;
    margin-right: 0 !important;
    margin-bottom: 28px !important;

    background: none;
    box-shadow: none;
  }

  .product-img {
    height: 194px;
    padding: 15px;

    background: #FFFFFF;
    box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.0965523);
    border-radius: 6px;
  }

  .product-description {
    display: block;
    padding: 0;
    margin-top: 16px;
    text-align: left;
  }

  .product-name {
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.1px;
    color: #000000;
    text-align: left;
  }

  .product-price {
    margin-top: 0;
    font-size: 14px;
    line-height: 20px;
    color: #5B5B5B;
  }

  .product-sale {
    margin: 0;
    margin-bottom: 28px;
    padding: 40px 35px;
  }

  .product-sale__name {
    margin-bottom: 12px;

    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.1px;
    color: #FFFFFF;
    opacity: 0.4;
  }

  .product-sale__header {
    font-size: 32px;
    line-height: 38px;
    letter-spacing: -0.4px;
  }

  .product-sale__header-description {
    margin-top: 24px;

    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.1px;
    color: #FFFFFF;
    opacity: 1;
  }

  .product-sale__btn {
    margin-top: 40px;
  }


  /* footer */

  .footer {
    padding-bottom: 44px;
    margin-top: 80px;
  }

  .footer .container {
    padding: 0 15px;
  }

  .footer__top {
    flex-direction: column-reverse;
  }

  .footer-top__links {
    margin-top: 40px;
  }

  .footer-top__contacts {
    margin-top: 0;
  }

  .footer__list-header {
    margin-bottom: 16px;

    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.1px;
  }

  .footer-top__nav-list li {
    margin-bottom: 8px;
  }

  .footer-top__nav-list a,
  .footer__mail,
  .footer-top__form-description {
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.1px;
    color: #5B5B5B;
  }

  .footer-top__form-box .footer__list-header {
    margin-bottom: 8px;
  }

  .footer-top__form-description {
    margin-bottom: 40px;
  }

  .footer-top__form-box {
    margin-top: 0;

    width: 100%;
  }

  .footer-top__form input {
    width: 100%;
  }

  .footer__bot {
    margin-left: -15px;
    padding: 0 15px;
    padding-top: 32px;
    margin-top: 40px;
  }

  .footer__bot {
    justify-content: flex-start;
  }


  /* modal */
  .modal-wrapper {
    z-index: 100;
  }

  .modal-wrapper,
  .modal {
    background-color: #F4F4F4;
  }

  .modal-block {
    padding: 80px 15px 40px 15px;
  }

  .modal {
    all: unset;
  }

  .modal-close-icon {
    display: none;
  }

  .modal__content {
    padding: 0;
  }

  .modal__header .item {
    font-size: 24px;
    line-height: 32px;
    color: #1D2027;
  }

  .modal__video {
    position: static;
    margin-top: 20px;
    height: 198px;
    max-width: none;
    overflow: hidden;

    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
  }

  .product-modal .modal__video {
    padding: 18px;

    background: #FFFFFF;
    box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.0965523);
    border-radius: 6px;
  }

  .product-modal .modal__video img {
   object-fit: contain;
  }

  .modal .video-box__play {
    width: 60px;
    height: 60px;
  }

  .modal__header-description {
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.1px;
    color: #1D2027;
  }

  .modal__price {
    margin-top: 20px;
  }

  .modal__btn {
    margin-top: 12px;
  }

  .modal__form-box {
    margin-top: 24px;
  }

  .modal__to-back {
    margin-top: 9px;
  }

  .thanks-modal .modal {
    padding: 0;
    width: 100%;
  }

  .modal-header {
    font-size: 32px;
    line-height: 38px;
    letter-spacing: -0.4px;
  }

  .modal-header-description {
    margin-top: 20px;

    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.1px;
  }

  .thanks-modal-btn {
    margin-top: 28px;
  }






  .pc {
    display: none;
  }
}